.Click{
  font-size: 20px;
  color:white;
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 90%;
}


.box{
  width: 20%;
  height: 50px;
  float: left;
  border-style: solid;
  border-color:red;
  margin-left:20%;
  padding-top:25%;
  padding-left:5%;
  margin-top:7%;
}

.modalwindow{
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color:skyblue;
  opacity:0;
  pointer-events: none;
}

.modalwindow:target{
  opacity: 1;
  pointer-events: auto;
}

.img{
 width: 30%;
 height: 60%;
 float: left;
 margin-left:35%;
 margin-top:20%;
 position:absolute;
}

.msgblock{
  position: relative;
  width: 65%;
  height:80%;
  background-color: orange;
  margin-left: 20%;
  margin-top: 5%;
}

.heading{
  width: 100%;
  height: 40px;
  background-color:pink;
  color: white;
  padding-top:10px;
  position:absolute;
}

.paragraph{
  width: 95%;
  height: 55px;
  background-color:pink;
  margin-left:3%;
  position:absolute;
  margin-top:12%;
}

.Close{
  text-align: right;
  background-color: purple;
  color: lightblue;
  font-size: 15px;
  padding: 10px;
  border-radius:5%;
  position: absolute;
  margin-left:5%;
  bottom:5%;
  text-decoration: none;
}


.Click{
  font-size: 20px;
  color:white;
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 90%;
}


.LinkModal2{
  font-size: 20px;
  color:white;
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 90%;
}

.box2{
  width: 20%;
  height: 50px;
  float: left;
  border-style: solid;
  border-color:red;
  margin-left:5%;
  padding-top:25%;
  padding-left:5%;
  margin-top:7%;
}

.modalwindow2{
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color:lightgreen;
  opacity:0;
  pointer-events: none;
}

.modalwindow2:target{
  opacity: 1;
  pointer-events: auto;
}

.img2{
 width: 30%;
 height: 60%;
 float: left;
 margin-left:35%;
 margin-top:20%;
 position:absolute;
}

.msgblock2{
  position: relative;
  width: 65%;
  height:80%;
  background-color: skyblue;
  margin-left: 20%;
  margin-top: 5%;
}

.heading2{
  width: 100%;
  height: 40px;
  background-color:pink;
  color: white;
  padding-top:10px;
  position:absolute;
}

.paragraph2{
  width: 95%;
  height: 55px;
  background-color:pink;
  margin-left:3%;
  position:absolute;
  margin-top:12%;
}

.X{
  text-align: right;
  background-color:white;
  color: black;
  font-size: 15px;
  padding: 10px;
  border-radius:5%;
  position: absolute;
  margin-left:5%;
  bottom:5%;
  text-decoration: none;
}
